<div>
    <div>City Name: </div><input id="txtCity" type="text" />
    <div style="padding-top: 10px">Country Name: </div><input id="txtCountry" type="text" />
    <div style="padding-top: 10px">Key Name: </div><input id="txtKeyName" type="text" />

    <div style="padding-top: 25px">
        <button id="btnSearch">Get Weather</button>
    </div>
    <hr />
    <div id="searchResult"></div>
</div>

@section Scripts {
    <script src="~/Components/WeatherMap/WeatherMapModule.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            WeatherMapModule.Init();
        });
    </script>
}
